---
import Layout from "../../layouts/Layout.astro";
import type { project } from "../Projects.astro";
import { projects } from "../Projects.astro";

export function getStaticPaths() {
  return projects.map((project: project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
---

<Layout>
  <div class="flex justify-center items-start mt-6">
    <div class="w-full max-w-screen-md px-6">
      <h1 class="text-3xl font-bold mb-4">{project.title}</h1>
      <p class="text-gray-600 mb-2 font-semibold">
        Tech Stack: {project.stack}
      </p>
      <p class="text-lg text-gray-700">{project.content}</p>
      {
        project.link && (
          <a
            href={project.link}
            class="text-blue-500 hover:underline mt-4 block font-semibold"
            target="_blank"
            rel="noopener noreferrer"
          >
            View Project
          </a>
        )
      }
    </div>
  </div>
</Layout>
