---
import Layout from "../layouts/Layout.astro";
import lostCat from "../assets/lostCat.jpg";
---

<Layout>
  <div class="flex flex-col items-center justify-center p-8">
    <h1 class="text-4xl font-extrabold mb-6">404</h1>
    <div class="overflow-hidden rounded-4xl">
      <img
        loading="lazy"
        src={lostCat.src}
        alt="Lost cat illustration"
        class="object-cover w-full h-full"
      />
    </div>
  </div>
</Layout>
