---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex justify-center items-start mt-6">
    <div class="w-full max-w-screen-md px-6">
      <p>
        Fullstack Dev evolving into a web3 Dev.<br />
        I’m building/crafting thing that matter, for you for me for you’re client
      </p>
    </div>
  </div>
</Layout>
