---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex justify-center items-start mt-6">
    <div class="w-full max-w-screen-md px-6">
      <p>
        I’ve started my journey in 2021 with freecodecamp. Few month later i
        joined AdaTechSchool to follow their path : One year in school crafting
        project, 1 year in internship. I like to code clean, it’s mean it take
        time and ressource. Recently i started to selfhost my project, so i had
        to selfhost and managed my server, I’m using coolify to manage most of
        my container. I gain habilities to discover docker network and buildind
        efficient docker image. having some knowledge with ports, CI/CD, routing
        My next project will be focused on blockchain technologie because it’s a
        tech i like and i started programming for reaching my goal. working in
        the blockchain ecosystem
      </p>
    </div>
  </div>
</Layout>
