---
import Layout from "../layouts/Layout.astro";

export type project = {
  title: string;
  content: string;
  stack: string;
  link?: string;
  slug: string;
};

export const projects: project[] = [
  {
    title: "JSR",
    slug: "jsr",
    stack: "postres, Fresh, deno, rust",
    link: "https://jsr.io/",
    content: ` An issue was openned to had the abiility to view the number of package dependant the package add.
A first contribution for me, so i had to locally run the project and start digging,
I/ve made significant amount of skill progress by realising this features.
Made sql counter, routing through rust and diplay it with fresh
Tech stack is rust for backend / postreSQL / Fresh (Deno frontEnd framework based on Preact)`,
  },
  {
    title: "tg-fetcher",
    slug: "tg-fetcher",
    stack: "Deno, Typescript, postgres",
    content: `Microservise used to fetch data from telegram from any group, then registered data into a database
orderOrbit backend is using data to process it and spread accros desire brooker.`,
  },
];
---

<Layout>
  <div class="flex justify-center items-start mt-6">
    <div class="w-full max-w-screen-md px-6">
      <h1 class="text-2xl font-bold mb-4">Projects</h1>
      <div class="space-y-6">
        {
          projects.map((project) => (
            <div class="border rounded-lg shadow-lg p-4 bg-white">
              <a
                href={`/project/${project.slug}`}
                class="text-xl font-semibold text-blue-500 hover:underline"
              >
                {project.title}
              </a>
              <p class="text-gray-600">{project.stack}</p>
              {project.link && (
                <a
                  href={project.link}
                  class="text-blue-500 hover:underline mt-2 block"
                >
                  View Project
                </a>
              )}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
