---
import Layout from "../layouts/Layout.astro";
import DetailsCard from "../components/DetailsCard.astro";
import { getCollection } from "astro:content";

const projectMDX = await getCollection("projects");

const sortedProjects = projectMDX.sort(
  (a, b) => a.data.sortOrder - b.data.sortOrder
);
---

<Layout>
  <div class="flex justify-center items-start mt-6 pb-12">
    <div class="w-full max-w-screen-md px-6">
      <div class="space-y-6">
        {
          sortedProjects.map(({ data }) => (
            <DetailsCard
              data={data}
              extraClass="px-6 py-4 flex flex-col sm:flex-row md:items-center justify-between"
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
