---
import { Icon } from "astro-icon/components";
import Nav from "./Nav.astro";
---

<section class="bg-slate-700 text-white flex justify-center items-start pt-10">
  <div class="w-full max-w-screen-md px-6 text-white">
    <div class="flex flex-col">
      <div class="text-left mb-4">
        <h1 class="text-3xl font-bold -ml-0.5 mb-2">Boris</h1>
        <h2 class="text-lg mb-0.5">Software Developer</h2>
        <p class="text-sm">Paris, France</p>
      </div>

      <div class="flex gap-4 text-white mb-6">
        <a
          href="https://github.com/BorisLord"
          class="hover:text-red-700"
          rel="noopener noreferrer"
          target="_blank"
        >
          <Icon name="line-md:github-loop" size="28" />
        </a>
        <a
          href="mailto:boris@dellabs.nexus"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-red-700"
        >
          <Icon name="line-md:email-plus" size="28" />
        </a>
        <a
          href="/dummy.pdf"
          download="CV_Boris_D.pdf"
          class="hover:text-red-700"
        >
          <Icon name="line-md:file-download" size="28" />
        </a>
        <a
          href="https://www.linkedin.com/in/boris-d/"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-red-700"
        >
          <Icon name="line-md:linkedin" size="28" />
        </a>
      </div>
      <Nav />
    </div>
  </div>
</section>
