---
import "../styles/global.css";
import Header from "../components/Header.astro";

export type Link = {
  label: string;
  href: string;
};

const links: Link[] = [
  { label: "Home", href: "/" },
  { label: "Projects", href: "/Projects" },
  { label: "About Me", href: "/About" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Bobofolio</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <Header links={links} />
    <main>
      <slot />
    </main>
  </body>
</html>

<!-- <body class="bg-sky-950"> -->
